body{
    margin: 0;
    background-color: black;
}

header{
    width: 100%;
    height: 200px;
    position: fixed;
    background-color: #339933;
    padding: 0;
    border: 0;
}

.logo-div{
    position: absolute;
    margin-left: 1%;
    margin-top: 0.3%;
}
.div-login{
    position: absolute;
    margin-left: 80%;
    width: 20%;
}

#social-buttons{
    color: white;
    font-weight: bold;
    font-size: 18px;
    background-color: #339933;
    border-color: transparent;
}

#social-buttons:hover{
    color: orange;
}

.div-meio{
    position: absolute;
    margin-left: 28%;
    width: 70%;
}

.img-search{
    position: absolute;
    margin-left: 1%;
    margin-top: 3px;
    width: 30px;
    height: 30px;
}

.search-div{
    position: absolute;
    width: 50%;
    margin-left: 200px;
    margin-top: 132px;
}

.search-field{
    font-size: 25px;
    padding: 0;
    border-radius: 6px;
    height: 35px;
    width: 90%;
}



footer{
    width: 100%;
    height: 100px;
    background-color: #339933;
    position: absolute;
    margin-top: 1000px;
}

a{
    color: white;
    text-decoration: none;
    font-size: 20px;
}

a:hover{
    color: orange;
}

.quem-somos{
    position: absolute;
    margin-top: 2%;
    margin-left: 3%;
}

.contato{
    position: absolute;
    margin-top: 2%;
    margin-left: 24%;
}

.forma-pagamento{
    position: absolute;
    margin-top: 0.5%;
    margin-left: 48%;
}

.img-elo{
    position: absolute;
    margin-left: 48%;
    margin-top: 2.2%;
}

.img-mastercard{
    position: absolute;
    margin-left: 52%;
    margin-top: 2.2%;
}

.img-boleto{
    position: absolute;
    margin-left: 56%;
    margin-top: 2.2%;
}

.perguntas-frequentes{
    position: absolute;
    margin-left: 83%;
    margin-top: 2.2%;
}



@media only screen and (max-width: 800px) {
    html{
        min-width: 510px;
    }
    body {
        background-color: lightblue;
    }

    .div-login{
        position: absolute;
        margin-left: 74%;
        width: 23%;
    }

    header{
        position: absolute;
        width: 100%;
    }

    #social-buttons{
        font-size: 16px;
    }

    .img-logo{
        width: 250px;
        height: 128px;
    }

    .div-meio{
        position: absolute;
        margin-left: 1%;
        width: 60%;
    }
    .search-div{
        position: absolute;
        width: 80%;
    }
}

