
/* Configurações nivel 1*/

ul.menu, .menu li, .menu a{ 
    margin:0; 
    padding:0; 
    list-style:none; 
    text-decoration:none;
}

ul.menu ul{ 
    position:absolute; 
    display:none;
}

ul.menu{ 
    position: absolute;
    margin-top: 130px;
    float:left; 
    font-family:Verdana, sans-serif; 
    font-size:15px; 
    border-radius:5px; 
    padding:0;
}

.menu li{ 
    float:left; 
    width:auto; 
    position:relative;
}

.menu li a{ 
    display:block; 
    padding:0 20px; 
    line-height:45px; 
    height:45px; 
    float:left; 
    transition:all 0.1s linear; 
}
 
.menu li:hover > ul.submenu-1{ 
    border-radius: 5%;
    display:block; 
    top:45px; 
    left:0; 
    padding:0; 
    width:200px; 
    border-radius:5%;   
}
.menu ul.submenu-1 a{  
    width:160px; 
    padding:0 20px; 
    border-radius:5px;  
}

.menu li:hover > ul.submenu-2{ 
    display:block; 
    top:0; 
    left:195px; 
    padding:0; 
    width:200px;  
    border-radius: 5%; 
}

.menu ul.submenu-2 a{  
    width:160px; 
    padding:0 20px; 
    border-radius:5px; 
}

/* cores */

.menu{
    background:white;
}

.menu a{ 
    color:#000;
}


.menu:hover{
    background: orange;
}

.menu li:hover > a{
    border-radius: 7%;
    background:orange; 
}
 
.submenu-1{ 
    background:white;
}
.submenu-1 a{
    color: #000;
}
.submenu-1 li:hover > a{
     background:orange; 
}

.submenu-2{ 
    background:white;
}

.submenu-2 a{
    color:#000;
}

.submenu-2 li:hover > a{ 
    background:orange; 
}