td {
    position: relative;
}

td:hover{
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);   
}

p{
    font-size: 20px;
    font-style: Arial, Helvetica, sans-serif;
}